[Unit]
Description=Service Management Unit
After=network-online.target syslog-ng.service config.service sm-watchdog.service systemd-udev-settle.service drbd.service
Before=sm-shutdown.service sm-api.service pmon.service

[Service]
Type=forking
RemainAfterExit=yes
User=root
ExecStart=/etc/init.d/sm start
ExecStop=/etc/init.d/sm stop
PIDFile=/var/run/sm.pid
KillMode=process

[Install]
WantedBy=multi-user.target
