eventlet!=0.18.3,>=0.18.2,!=0.20.1,<0.21.0  # MIT
httplib2>=0.7.5  # MIT
jsonpatch>=1.1  # BSD
keystonemiddleware>=4.12.0  # Apache-2.0
kombu>=4.0.0,!=4.0.2  # BSD
MySQL-python;python_version=='2.7'  # GPL with FOSS exception
oslo.config>=4.0.0,!=4.3.0,!=4.4.0  # Apache-2.0
pecan>=1.0.0,!=1.0.2,!=1.0.3,!=1.0.4,!=1.2  # BSD
psutil>=3.2.2  # BSD
SQLAlchemy>=1.0.10,!=1.1.5,!=1.1.6,!=1.1.7,!=1.1.8  # MIT
sqlalchemy-migrate>=0.11.0  # Apache-2.0
WSME>=0.8  # MIT

# These are not in stable/pike global-requirements.txt
iso8601
prettytable
pylint
